<section>
  <div class="page-header">
    <h1>{{vm.article._id ? 'Editar Noticia' : 'Nueva Noticia'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.article._id" class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> BORRAR NOTICA
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.articleForm" class="form-horizontal" ng-submit="vm.save(vm.form.articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Titulo</label>
          <input name="titulo" type="text" ng-model="vm.article.titulo" id="titulo" class="form-control" placeholder="Titulo de la noticia" required autofocus>
          <div ng-messages="vm.form.articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Se requiere un titulo de noticia</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Contenido</label>
          <textarea name="contenido" data-ng-model="vm.article.contenido" id="contenido" class="form-control" cols="30" rows="10" placeholder="Contenido noticia"></textarea>
        </div>
        <div class="form-group">
          <div class="form-group text-center">
            <img ngf-src="vm.fileSelected ? picFile : '/modules/articles/client/img/imgsubir.png' "  width="200" height="200" class="img-thumbnail " ngf-drop>
          </div>
          <div ng-show="!vm.fileSelected" class="text-center form-group">
            <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Elegir Imagen</button>
          </div>
          <div ng-show="vm.fileSelected" class="text-center form-group">
            <button class="btn btn-primary" ng-click="vm.upload(picFile)">Usar esta imagen </button>
            <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancelar</button>
          </div>
          <div ng-show="vm.fileSelected" class="progress text-center">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
              <span class="sr-only">{{vm.progress}}% Completado</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block" ><i class="fa fa-plus-circle" aria-hidden="true"></i> {{vm.article._id ? 'Actualizar noticia' : 'Publicar noticia'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
