<section>
  <div class="row">
    <div class="col-md-12  col-sm-12  col-xs-12">
      <div class="page-header">
        <h2><i class="fa fa-users fa-1x" aria-hidden="true"></i>EQUIPO DESARROLLADOR</h2>
      </div>
      <div ng-app="myApp" ng-controller="nombres">
        {{ integrante1 + " " + integrante12 }}
      </div>
      <div   ng-app="myApp" ng-controller="nombres">
        <h2>Desarrollo en Infraestructura web <i class="fa fa-server" aria-hidden="true"></i> </h2>
        <p>
          Equipo Conformado por:
          <div class="row">
            <div class="col-md-12  col-sm-12  col-xs-12">
              <div class="col-md-4" ng-repeat="x in nombresarreglo">
                <div class="card">
                  <div class="card-image">
                    <center>
                      <img class="img-responsive" ng-src="{{x.foto}}" >
                    </center>
                    <span class="card-title"> </span>
                  </div>
                  <div class="card-action">
                    <center>
                    <p> <b> {{x.nombre}} </b></p>
                  </center>
                  </div>
                  <!--<div class="card-action" class="card-content">  </div> -->
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>

</section>
<br><br><br><br>
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2><i class="fa fa-link" aria-hidden="true"></i> Enlaces</h2>
          <article >
            <ul  ng-controller="HeaderController as vm">
              <div ng-hide="vm.authentication.user">
                <li><a ui-sref="authentication.signup"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Registro</a></li>
                <li><a ui-sref="authentication.signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesion</a></li>
              </div>
              <li><a href="/chat"><i class="fa fa-commenting" aria-hidden="true"></i> Chat</a></li>
              <li><a href="/noticias"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Lista de Noticias</a></li>
            </ul>
          </article>
        </div>
        <div class="col-md-4">
          <article >
            <center>
            <img  class="img-responsive"  ng-src="/modules/core/client/img/pn.png" width="100">
          </center>
          </article>
        </div>
        <div class="col-md-4 ">
          <!--
          <h2>Contacto</h2>
          <article >
            <p> </p>
          </article> -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <center>
            <img  class="img-responsive"  ng-src="/modules/core/client/img/logofer.png"    style=" width: 200px;height:50px;"  />
          </center>
        </div>
      </div>
    </div>
  </div>
</footer>
