<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword">Contraseña Actual</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="vm.passwordDetails.currentPassword" placeholder="Contraseña actual" required autofocus>
          <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tu contraseña actual es requerida.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">Nueva Contraseña</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="Nueva Contraseña" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ingresa la nueva contraseña.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">Verificar contraseña</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="Verificar contraseña" password-verify="vm.passwordDetails.newPassword" required>
          <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Verificar la contraseña</p>
            <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">Las contraseñas no concuerdan.</p>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.passwordForm.newPassword.$error.required">
          <label>Requerimientos de la contraseña</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Guardar contraseña</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
