<section>
  <div class="page-header">
    <h1><i class="fa fa-cog" aria-hidden="true"></i> CONFIGURACION PERFIL</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDITAR PERFIL</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture"><i class="fa fa-picture-o" aria-hidden="true"></i> CAMBIAR FOTO PERFIL</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password"><i class="fa fa-key" aria-hidden="true"></i> CAMBIAR CONTRASEÑA</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
